log

(auth-middleware) {
	respond "OK"
}


#services 
localhost {
	reverse_proxy frontend:3000
}

svc.localhost {
	reverse_proxy /opt/upload 	optimizer:5000
	reverse_proxy /users/* 		user:4000
}


# third parties
minio.localhost {
	reverse_proxy minio:9001
}

nats.localhost {
	reverse_proxy nats:8222
}
